@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    font-family: 'Josefin Sans', sans-serif
}

body {
    background-image: url('../assets/Project_74-19.jpg');
    background-position: 67% -60%;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    width: 250px;
    height: 100%;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, #3db3ee, #8860d0);
    padding: 30px 0px;
    position: fixed;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

.wrapper .sidebar h4 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px
}

.wrapper .sidebar li .active{
    color: #ffffff;
    
}
.wrapper .sidebar li{
    padding: 15px;
    border-bottom: 1px solid #c9c6d8;
    border-bottom: 1px solid rgba(92, 92, 92, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}
.wrapper .sidebar li a{
    color: #dedceb;
    display: block
}

.wrapper .sidebar li a .fa {
    width: 25px
}

.wrapper .sidebar li:hover {
    background-color: #7d777717
}

.wrapper .sidebar li:hover a {
    color: #fff
}
.wrapper .main_content {
    display: block;
    width: 100%;
    margin-left: 250px;
}
.wrapper .main_content h2{
    margin-left: -25px;
    margin-top: 35px;
    text-align: center;
    color: #001f42;
}
.wrapper .main_content h6{
    margin-left: -25px;
    margin-top: 2px;
    color: green;
    text-align: center;
}
.wrapper .main_content p{
    color: #001f42;
    margin-left: -25px;
    margin-top: 5px;
    margin-bottom: 7px;
    text-align: center;
}
.newsletter{
    display: block;
    position: absolute;
    margin-left: 250px;
    top: 75%;
    width: 83.7%;
    height: 25%;
    background-color: #C1C8E4;
}

.newslettertext{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #001f42;
    margin-left: 50px;
}
.newsletter h3{
    margin-top: 35px;
    margin-bottom: 5px;
}

.newsletter p{
    font-size: 14px;
    margin-left: 55px;
    margin-bottom: 0px;
}

.newsletter input{
    height: 30px;
    width: 30%;
    margin-top: 8px ;
    margin-left: 55px;
    padding: 5px;
    border-radius: 5px;
    border: #C1C8E4;
}

.newsletter button{
    cursor: pointer;
    height: 30px;
    margin-left: 5px;
    width: 90px;
    border-radius: 5px;
    border: #5680e9;
    background-color: #5680e9;
}
